/*GRID VERSION*/

.grid-cont {
	display: grid;
	grid-template-areas:
		'one one one one'
		'two three three four'
		'two three three four'
		'two three three four'
		'two three three four'
		'two three three four'
		'two three three four'
		'two five five four'
		'six six six four';
}

.piccaption{
	right: 0;
	width: 320px;
	margin: 5px;
	align-content: center;
	text-align: center;
}

.captionspace{
	grid-area: caption;
	float: left;
	margin: 20px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: white;
}

.textmargin{
	overflow-wrap: break-word;
	grid-area: textmarg;
	width: 750px;
	margin: 5px;
}

.listform{
	margin: 5px;
	right: 0%;
	width: 150px;
}

.one {
	grid-area: one;
	overflow-y: auto;
	grid-template-areas: 'leftside rightside';
	display: grid;
	align-items: center;
	text-align: right;
	min-height: 100px;
	background-color: gray;
}

.rone{
	margin-left: 30px;
	margin-right: 5px;
	grid-area: rightside;
	text-align: right;
}

.lone{
	grid-area: leftside;
	float: left;
	margin: 20px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: white;
}

.two {
	grid-area: two;
	align-items: right;
	text-align: right;
	overflow-wrap: break-word;
	width: 130px;
	min-height: 500px;
	height: auto;
	background-color: brown;
	align-self: stretch;
}

.three {
	grid-area: three;
	display: grid;
	justify-content: end;
	align-content: start;
	min-height: 500px;
	background-color: yellow;
	height: auto;
	align-self: stretch;
}

.four {
	grid-area: four;
	text-align: right;
	overflow-wrap: break-word;
	width: 130px;
	min-height: 600px;
	height: auto;
	background-color: blue;
}

.five {
	grid-area: five;
	align-items: center;
	text-align: center;
	min-height: 60px;
	background-color: cyan;
	align-self: flex-end;
}

.six {
	grid-area: six;
	grid-template-areas: 'leftside rightside';
	display: grid;
	align-items: center;
	text-align: right;
	min-height: 100px;
	background-color: pink;
	align-self: flex-start;
}

.textform{
	grid-area: textform;
}

.y{
	float: left;
}