body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.formcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.rowhandler {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}