.maintable{
	min-width: 500px;
	width: auto;
}

.one {
	overflow-y: auto;
	align-items: center;
	text-align: right;
	min-height: 100px;
	background-color: gray;
}

.two {
	align-items: right;
	text-align: right;
	overflow-wrap: break-word;
	width: 200px;
	min-height: 500px;
	height: auto;
	background-color: brown;
}

.three {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: start;
	align-content: start;
	min-width: 300px;
	min-height: 500px;
	background-color: yellow;
	height: auto;
}

.four {
	justify-content: stretch;
	overflow-wrap: break-word;
	text-align: right;
	width: 200px;
	min-height: 600px;
	height: auto;
	background-color: blue;
}

.five {
	align-items: center;
	text-align: center;
	min-height: 60px;
	background-color: cyan;
}

.six {
	align-items: center;
	text-align: right;
	min-height: 100px;
	background-color: pink;
}