.piccaption {
	right: 0;
	width: 320px;
	flex-direction: column;
	margin: 5px;
	align-content: center;
	text-align: center;
}

.captionspace {
	grid-area: caption;
	text-align: center;
	float: left;
	width: auto;
	margin: 20px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: white;
}

.listform {
	margin: 5px;
	right: 0%;
	width: 150px;
}

.rectanglechecker {
	display: flex;
	flex-direction: column;
}

.rectsidetaker {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 768px) {
	.piccaption {
		right: 0;
		width: 213px;
		flex-direction: column;
		margin: 5px;
		align-content: center;
		text-align: center;
	}
}

.vert-flex-cont {
	display: flex;
	flex-direction: column;
}

.gor-flex-cont {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.textmargin {
	overflow-wrap: break-word;
	width: 750px;
	margin: 5px;
}

.one {
	overflow-y: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: right;
	min-height: 100px;
	background-color: gray;
}

.two {
	align-items: right;
	text-align: right;
	overflow-wrap: break-word;
	max-width: 150px;
	min-height: 500px;
	height: auto;
	background-color: brown;
}

.three {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	min-height: 500px;
	min-width: 1000px;
	background-color: yellow;
	height: 100%;
}

.four {
	text-align: right;
	overflow-wrap: break-word;
	max-width: 150px;
	min-height: 600px;
	height: auto;
	background-color: blue;
}

.five {
	align-items: center;
	text-align: center;
	background-color: cyan;
}

.six {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: right;
	min-height: 100px;
	background-color: pink;
}

.cutecatpic {
	width: 320px;
	height: 213px;
}

.changecontentcont {
	background-color: yellow;
}

.changecontentcont h3 {
	text-align: center;
}

.editor {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.textred {
	min-width: 300px;
	min-height: 50px;
}

@media screen and (max-width: 768px) {
	.one {
		overflow-y: auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: right;
		min-height: 50px;
		background-color: gray;
		font-size: 10;
		padding: 8px;
	}

	.two {
		align-items: right;
		text-align: right;
		overflow-wrap: break-word;
		max-width: 100px;
		min-height: 250px;
		height: auto;
		background-color: brown;
		font-size: 10;
		padding: 8px;
	}

	.three {
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: start;
		align-content: start;
		min-height: 250px;
		background-color: yellow;
		height: 100%;
		font-size: 10;
	}

	.four {
		text-align: right;
		overflow-wrap: break-word;
		max-width: 100px;
		min-height: 300px;
		height: auto;
		background-color: blue;
		font-size: 10;
		padding: 8px;
	}

	.five {
		align-items: center;
		text-align: center;
		background-color: cyan;
		font-size: 10;
	}

	.six {
		display: flex;
		flex-direction: row;
		align-items: center;
		text-align: right;
		min-height: 50px;
		background-color: pink;
		font-size: 10;
		padding: 8px;
	}

	.cutecatpic {
		width: 213px;
		height: 142px;

	}
}

/* Стилі для основного контейнера dropdown */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Стилі для кнопки, яка відкриває/закриває dropdown */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* Стилі для контейнера, який містить елементи dropdown */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Стилі для елементів dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Зміна стилів при наведенні на елемент dropdown */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Показати dropdown, якщо кнопка активована */
.show {
	display: block;
}

/* Стилі для основного контейнера dropdown */
.dropdown {
	position: relative;
	display: inline-block;
	margin-left: 3px;
	margin-top: 10px;
}

/* Стилі для кнопки, яка відкриває/закриває dropdown */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* Стилі для контейнера, який містить елементи dropdown */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Стилі для елементів dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Зміна стилів при наведенні на елемент dropdown */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Показати dropdown, якщо кнопка активована */
.show {
	display: block;
}

.dropDownTitle {
	font-size: large;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 3px;
}

#dropDownTitleContainer {
	display: flex;
	flex-direction: row;
	border: 2px solid #000;
	padding: 3px;
}

.nameInput {
	margin: 3px;
}

.elementSettingCont {
	display: flex;
	flex-direction: column;
	padding: 3px;
}

#DropDownSettingsform {
	display: flex;
	flex-direction: column;
	padding: 3px;
}

#DropDownListSettingsform {
	display: flex;
	flex-direction: column;
	padding: 3px;
}

.listSettingCont {
	display: flex;
	flex-direction: column;
}

.apllydropbtn {
	margin: 3px;
}

.dropdownlistholder {
	margin: 10px;
	display: flex;
	flex-direction: row;
}